* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
}

.Box {
    width: 420px;
    padding: 30px;
    border: 5px solid #ccc;
}

.Box:first-child {
    margin-right: 20px;
}

.box-list {
    display: flex;
    justify-content: center;
}

.btn-list {
    margin-top: 20px;
}

.btn-list button{
    width: 100px;
    height: 40px;
    border: none;
    border-radius: 5px;
    background-color: black;
    color: white;
    margin-right: 8px;
}
.btn-list button:last-child {
    margin-right: 0;
}

.win {
    border: 5px solid green;
}

.lose {
    border: 5px solid red;
}

.tie {
    border: 5px solid black;
}